// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "variables";

* {
  font-family: 'Nunito', Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
